html
<html>
    <head>
        <title>Muhammet yıldırm django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Blogum</a></h1>
            <br>
        </div>

        <h2><a href="">Django gönderilerim</a></h2>

        {% for post in posts %}
            <div>
                <h3><a href="">{{ post.title }}</a></h3>
                <p>published: {{ post.published_date }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
                <br>
            </div>
        {% endfor %}


        <div>
            <br>
            <br>
            <h3><a href="">My first blog</a></h3>
            <p>published: 10.06.2023</p>
            <p>Hi im muhammet yıldırım</p>
            <br>
        </div>

        <div>
            <h3><a href="">İkinci gönderim</a></h3>
            <p>yayınlanma tarihi: 10.06.2023</p>
            <p><em>Selam ben muhammet yıldırım</em></p>
            <br>
        </div>

        <div>
            <h3><a href="">Üçüncü gönderim</a></h3>
            <p>yayınlanma tarihi: 10.06.2023</p>
            <p><strong>Selam ben muhammet yıldırım</strong></p>
            <br>
        </div>

        <div>
            <h4><a href="">Blog Kuralları</a></h4>
            <ul><li>1 = Birinci madde</li><li>2 = İkinci madde</li><li>3 = Üçüncü madde</li><li>4 = Dördüncü madde</li></ul>
        </div>
    </body>
</html>