{% extends 'blog/base.html' %}
{% load static %}
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

{% block content %}
    <h1>Yeni post</h1>
    <form method="POST"  class="post-form">{% csrf_token %}
        <label class="left">{{ form.title.label_tag }}</label>
        <div class="left">
            {{ form.title }}
        </div>

        <label class="left">{{ form.text.label_tag }}</label>
        <div class="left">
            {{ form.text }}
        </div>

        <label class="left">{{ form.author.label_tag }}</label>
        <div class="left">
            {{ form.author }}
        </div>
        <button type="submit" class="save btn btn-default">Kaydet</button>
    </form>
{% endblock %}



